POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DBHOST=postgres
DBPORT=5432
path_model=https://github.com/SAP/credential-digger/releases/download/PM-v1.0.1/path_model-1.0.1.tar.gz
snippet_model=https://github.com/SAP/credential-digger/releases/download/SM-v1.0.0/snippet_model-1.0.0.tar.gz
# Enable HTTPS by setting the path of both the certificate and the private key as shown below
SSL_certificate=PATH_to_certificate.pem
SSL_private_key=PATH_to_key.pem
AUTH_KEY=admin # Password to be used to log in
SECRET_KEY=# To be generated using python -c 'import os; print(os.urandom(24).hex())'
