version: "3"
services:
  postgres:
    image: postgres:12-alpine
    restart: always
    container_name: postgres
    volumes:
      - creddig_db:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d/
    env_file:
      - ./.env
    # Postgres ports should never be exposed in production
    # uncomment the ports only for development reasons
    ports:
      - "5432:${DBPORT}"
  credential_digger:
    build:
      context: ./ui
      dockerfile: Dockerfile
      args:
        - path_model=$path_model
        - snippet_model=$snippet_model
    container_name: credential_digger_backend
    image: credential-digger_pg
    restart: always
    env_file:
      - ./.env
    environment:
        - USE_PG=True
    ports:
      - "5000:5000"
volumes:
  creddig_db:
