Flask
flask_jwt_extended
GitPython
hyperscan==0.7.8
numpy
pandas
psycopg2-binary
PyGithub
python-dotenv
pyyaml
rich~=13.9
srsly>=2.4.0
tensorflow==2.18.1
tensorflow-text==2.18.1
tf-models-official
transformers
