<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credential Digger</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/res/css/vendor/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/res/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/res/css/base.css">
    <link rel="stylesheet" type="text/css" href="/res/css/datatables.css">
    <link rel="stylesheet" type="text/css" href="/res/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/res/css/repos.css">
    <link rel="stylesheet" type="text/css" href="/res/css/discoveries.css">
    <link rel="stylesheet" type="text/css" href="/res/css/rules.css">
    <link rel="stylesheet" type="text/css" href="/res/css/discovery.css">
  </head>
  <body>
    <div class="headerToolbar">
      <a class="headerItem headerTitle" href="/">
        <img class="headerTitleIcon" src="/res/img/logo-CD.svg">
        Credential Digger
      </a>
      <div class="headerLinkList">
        <a class="headerItem headerLink" href="/">Repositories</a>
        <a class="headerItem headerLink" href="/rules">Rules</a>
      </div>
    </div>
    <div class="contentBox">
      {% block content %}
      {% endblock %}
    </div>
    <script src="/res/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="/res/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/res/js/config.js"></script>
    <script src="/res/js/utils.js"></script>
  </body>
</html>
