{% extends 'base.html' %}
{% block content %}

<!--general info boxes-->
<div class="topicHeaderWrapper">
  <h1 class="topicH1">General Info</h1>
</div>
<div class="generalInfoWrapper">
  <div class="generalInfoLink">
    <span>Repos</span>
    <span class="generalInfoLinkCounter" id="lenDiscoveries">{{len_repos}}</span>
  </div>
  <div class="generalInfoLink">
    <span>Discoveries</span>
    <span class="generalInfoLinkCounter" id="allDiscoveries">{{tot_discoveries}}</span>
  </div>
  <a class="generalInfoLink" href="/rules">
    <span>Rules</span>
    <span class="generalInfoLinkCounter">{{len_rules}}</span>
  </a>
</div>

<!--repos with search bar-->
<div class="topicHeaderWrapper">
  <h1 class="topicH1" id="topic">All repos</h1>
  <span class="moreButtons moreButtonsRepos">
    <div class="btn primary-bg modal-opener dynamic-scan-btn" data-rescan="false"  data-modal="addRepoModal">
      <span class="icon icon-track_changes"></span>
      <span>Scan repo</span>
    </div>
  </span>
</div>
<table id="repos-table" style="width: 100%">
  <thead>
    <tr>
      <th class="scan-status">Status</th>
      <th>Last scan</th>
      <th class="filename">Repository url</th>
      <th>Discoveries</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

{% include 'shared/_deleteRepoModal.html' %}

{% with rescan=False %}
  {% include 'shared/_scanRepoModal.html' %}
{% endwith %}

<script defer src="/res/js/scanForm.js"></script>
<script defer src="/res/js/repos.js"></script>
{% endblock %}
