{% extends 'base.html' %}
{% block content %}
<!--rules table-->
<div class="topicHeaderWrapper">
  <h1 class="topicH1">Rules Regex</h1>
  <span class="moreButtons rules-buttons">
    <div id="DownloadRuleRegex" onclick="location.href = '/download_rule';" class="btn outline-bg">
      <span class="icon icon-file_download"></span>
      <span>Download Rules Regex File</span>
    </div>
    <div id="uploadRule" class="btn primary-bg modal-opener" data-modal="uploadRuleModal">
      <span class="icon icon-file_upload"></span>
      <span>Upload Rules Regex File</span>
    </div>
    <div id="addrule" class="btn primary-bg modal-opener" data-modal="addrulepop">
      <span class="icon icon-add"></span>
      <span>Add rule</span>
    </div>
  </span>
</div>

<table id="rules-table" class="dataTale" style="width: 100%">
  <thead>
    <tr>
      <th class="dt-center">Category</th>
      <th class="dt-center">Description</th>
      <th>Regex</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for rule in rules %}
  <tr>
    <td class="dt-center">{{rule.category}}</td>
    <td class="dt-center">{{rule.description}}</td>
    <td>{{rule.regex}}</td>
    <td>
      <button class="btn danger-bg deleteRule">
        <span class="icon icon-delete_outline"></span>
        <span>Delete Rule</span>
      </button>
    </td>
  </tr>

  <!--delete rule popup-->
  <div class="modal deleteRuleModal">
    <div class="modal-content">
      <div class="topicHeaderWrapperAccept">
        <h1 class="topicH1">Delete {{rule.regex}} Rule ?</h1>
      </div>
      <span class="buttonsAccept">
        <form action="/delete_rule" method="post">
          <input name="ruleid" type="hidden" value="{{rule.id}}">
          <button type="submit">Delete Rule</button>
        </form>
        <button class="cancelDeleteRule buttonWarn">Cancel</button>
      </span>
    </div>
  </div>
  {% endfor %}
  </tbody>
</table>
<p id="noEntries">No rules found</p>

<!--add rule popup-->
<div id="uploadRuleModal" class="modal">
  <div class="modal-content">
    <div class="topicHeaderWrapper">
      <h1 class="topicH1">Upload Regex Rule File</h1>
      <span id="cancelUploadRule" class="modal-closer close">&times;</span>
    </div>
    <form action="/upload_rule" method="post" enctype="multipart/form-data">
      <span class="uploadButtonWrapper">
        <input id="file" type="file" name="filename">
        <label class="linkButton uploadButton" for="file">Choose a file</label>
        <p id="path" class="formLabel">No File selected</p>
      </span>
      <div class="formFooter">
        <span class="moreButtons">
        </span>
        <button id="startUploadRule" type="submit">Upload Rules</button>
      </div>
    </form>
  </div>
</div>


<div id="addrulepop" class="modal">
  <div class="modal-content">
    <div class="topicHeaderWrapper">
      <h1 class="topicH1">Add rule</h1>
      <span id="cancelAddRule" class="modal-closer close">&times;</span>
    </div>
    <form action="/add_rule" method="post">
      <input id="regexInput" type="text" name="regex" class="textInput" placeholder="Regex">
      <input id="catInput" type="text" name="category" class="textInput" placeholder="category">
      <textarea  id="descInput" type="text" name="description" class="textInput" placeholder="Description"></textarea>
      <div class="formFooter">
        <span></span>
        <button id="postAddFolder" type="submit">Add rule</button>
      </div>
    </form>
  </div>
</div>

<script>
  if ({{rules}} == null) {
    var rules = [];
  } else {
    var rules = {{rules}};
  }
</script>
<script src="/res/js/rules.js"></script>
{% endblock %}
