{% extends 'base.html' %}
{% block content %}
<!--rules table-->
<div class="topicHeaderWrapper">
  <h1 class="topicH1">Rules Regex</h1>
  <span class="moreButtons">
    <button id="uploadRule"><span>Upload Rules Regex File</span></button>
    <button id="addrule"><span>Add rule</span></button>
    <button id="DownloadRuleRegex" onclick="location.href = '/download_rule';"><span>Download Rules Regex File</span></button>
  </span>
</div>

<table id="rulesTable">
  <colgroup>
    <col width="650px"/>
    <col width="150px"/>
    <col width="100px"/>
    <col width="100px"/>
  </colgroup>
  <tr>
    <th>Regex</th>
    <th>Category</th>
  </tr>
  {% for rule in rules %}
  <tr class="ruleEntry tableRowContent">
    <td><span class="tableRowContentLink">{{rule.regex}}</span></td>
    <td><span class="tableRowContentLink">{{rule.category}}</span></td>
  </tr>
  <tr>
    <td colspan="2" class="expandTableRow">
      <span class="formFooter">
        {{rule.description}}
        <span class="moreButtons">
          <button class="deleteRule">Delete Rule</button>
        </span>
      </span>
    </td>
  </tr>

  <!--delete rule popup-->
  <div class="modal deleteRuleModal">
    <div class="modal-content">
      <div class="topicHeaderWrapperAccept">
        <h1 class="topicH1">Delete {{rule.regex}} Rule ?</h1>
      </div>
      <span class="buttonsAccept">
        <form action="/delete_rule" method="post">
          <input name="ruleid" type="hidden" value="{{rule.id}}">
          <button type="submit">Delete Rule</button>
        </form>
        <button class="cancelDeleteRule buttonWarn">Cancel</button>
      </span>
    </div>
  </div>
  {% endfor %}
</table>
<p id="noEntries">No rules found</p>

<!--add rule popup-->
<div id="uploadRuleModal" class="modal">
  <div class="modal-content">
    <div class="topicHeaderWrapper">
      <h1 class="topicH1">Upload Regex Rule File</h1>
      <span id="cancelUploadRule" class="close">&times;</span>
    </div>
    <form action="/upload_rule" method="post" enctype="multipart/form-data">
      <span class="uploadButtonWrapper">
        <input id="file" type="file" name="filename">
        <label class="linkButton uploadButton" for="file">Choose a file</label>
        <p id="path" class="formLabel">No File selected</p>
      </span>
      <div class="formFooter">
        <span class="moreButtons">
        </span>
        <button id="startUploadRule" type="submit">Upload Rules</button>
      </div>
    </form>
  </div>
</div>


<div id="addrulepop" class="modal">
  <div class="modal-content">
    <div class="topicHeaderWrapper">
      <h1 class="topicH1">Add rule</h1>
      <span id="cancelAddRule" class="close">&times;</span>
    </div>
    <form action="/add_rule" method="post">
      <input id="regexInput" type="text" name="regex" class="textInput" placeholder="Regex">
      <input id="catInput" type="text" name="category" class="textInput" placeholder="category">
      <textarea  id="descInput" type="text" name="description" class="textInput" placeholder="Description"></textarea>
      <div class="formFooter">
        <span></span>
        <button id="postAddFolder" type="submit">Add rule</button>
      </div>
    </form>
  </div>
</div>

<script>
  if ({{rules}} == null) {
    var rules = [];
  } else {
    var rules = {{rules}};
  }
</script>
<script src="/res/js/rules.js"></script>
{% endblock %}
