/* 
 * Base styling used throughout the whole the application. 
 */

/* #region: GENERAL */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}
/* #endregion */

/* #region: LAYOUT */
.headerToolbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #3f51b5;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.headerItem {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.headerTitle {
  font-size: 20px;
}

.headerTitleIcon {
  margin-right: 10px;
  height: 40px;
}

.headerLinkList {
  display: flex;
}

.headerLink {
  font-size: 20px;
}

.headerLink:hover {
  background-color: #283593;
}

.contentBox {
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  padding: 30px;
}

.topicHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scanDescription {
  margin: 0;
}

.underTopicHeaderWrapper {
  margin-bottom: 21.440px;
}

.topicHeaderWrapperAccept {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicH1 {
  margin: 21.440px 0;
  word-break: break-word;
}

.moreButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.moreButtons .btn {
  margin-left: 10px;
}

.topicH1 .icon {
  margin-right: 10px;
}

.topicH1 span {
  vertical-align: middle;
}

.divider {
  border-right: 1px solid #ccc;
  width: 1px;
  height: 30px;
  margin-left: 20px;
  margin-right: 10px;
}
/* #endregion */

/* #region: MODALS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 0 21.440px 21.440px 21.440px;
  border-radius: 7px;
  max-width: 700px;
}

.close {
  color: #9e9e9e;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
/* #endregion */

/* #region: FORMS */
label {
  cursor: pointer;
}

select option[value=""] {
  display: none;
}

.textInput {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 7px;
  font-size: 17px;
  padding: 12px;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.formLabel {
  margin: 0;
  margin-right: 10px;
}

.formSelect {
  width: 100%;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 7px;
  font-size: 17px;
  outline: none;
  background: none;
  padding: 6px;
  margin-top: 10px;
}

.form-item {
  margin-bottom: 25px;   
}

.error {
  border: 2px solid red;
}

.error-message {
  font-size: 14px;
  margin-top: 10px;
  color: red;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsAccept {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion */

/* #region: TABLES */
.loaderWrapper {
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f5f5f5;
  border-radius: 50%;
  border-top: 16px solid #3f51b5;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  padding: 7px 7px;
  border-bottom: 1px solid rgb(158, 158, 158);
}

td {
  padding: 0;
}
/* #endregion */

/* #region: BUTTONS */
button {
  font-size: 15px;
  background: transparent;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 7px;
  height: 35px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  outline: none;
  color: #9e9e9e;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  font-family: inherit;
}

.btn-group {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  font-size: 15px
}

.btn-group .hidden {
  display: none;
}

.btn-group .dropdown {
  position: absolute;
  right: 0;
  display: none;
}

.btn-group.active .dropdown {
  display: block;
}

.btn .icon {
  line-height: 1.5;
  margin-right: 6px;
  font-size: 18px;
  vertical-align: middle;
}

.btn, .btn-group .dropdown-opener {
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 12px;
  transition: all 0.05s ease-in-out;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  white-space: nowrap;
}

a.btn {
  text-decoration: none;
}

.btn {
  justify-content: flex-start;
  border-radius: 5px;
}

.btn-group .btn {
  border-radius: 0;
  display: flex;
}

.btn:hover, .btn-group .dropdown-opener:hover {
  box-shadow: 0px 0px 0px 100px rgba(0, 0, 0, 0.1) inset;
}
.btn:active, .btn-group .dropdown-opener:active {
  box-shadow: 0px 0px 0px 100px rgba(0, 0, 0, 0.2) inset, 0px 0px 5px 1px rgba(0, 0, 0, 0.15) inset;
}
.btn-group > .btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.btn-group > .btn .icon {
  pointer-events: none;
}

.btn-group .dropdown-opener {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-group .dropdown {
  z-index: 1;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.4);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.btn-group .dropdown .btn {
  border-top: 0;
}
.btn-group.active > .btn {
  border-bottom-left-radius: 0;
}
.btn-group.active .dropdown-opener {
  border-bottom-right-radius: 0;
}

.btn.disabled {
  opacity: 0.6;
}
/* #endregion */

/* #region: COLORS */
.primary-bg {
  background-color: #5568d3;
  color: #ffffff;
  border-color: #293a9e;
}

.danger-bg {
  background-color: #dc3545;
  color: white;
  border-color: #b6202f;
}

.warning-bg {
  background-color: #ffc107;
  color: black;
  border-color: #cc9900;
}

.success-bg {
  background-color: #43cb63;
  color: black;
  border-color: #2fac4c;
}

.light-bg {
  background-color: white;
  color: #dee3e8;
  border-color: #dee3e8;
}

.outline-bg {
  background-color: white;
  color: #444;
  border-color: #444;
}

.danger-color {
  color: #d51515;
}

.warning-color { 
  color: #eb8100;;
}

.grey-color {
  color: #555;
}
/* #endregion */

/* #region: RESPONSIVE */
@media (max-width: 1023px) {
  .repo-info .repo-link .link-text {
    display: none;
  }
}

@media (max-width: 767px) {
  .contentBox {
    padding: 10px;
  }
}
/* #endregion */
