.generalInfoWrapper {
  margin: -10px;
  font-size: 17px;
  display: flex;
}

.generalInfoLink {
  float: left;
  width: calc(33.3333% - 42px);
  height: 80px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 7px;
  margin: 10px;
  padding: 0px 10px;
  color: black;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.generalInfoLink:hover {
  background: #f5f5f5;
}

.generalInfoLinkCounter {
  font-size: 40px;
}

.bottomSpacer {
  margin-bottom: 21.440px
}
