/* 
 * Override general DataTables styles to fit the application's design.
 */

/* Override default datatables image paths */
table.dataTable thead .sorting {
  background-image: url("/res/img/vendor/datatables/sort_both.png")
}
table.dataTable thead .sorting_asc {
  background-image: url("/res/img/vendor/datatables/sort_asc.png")
}
table.dataTable thead .sorting_desc {
  background-image: urlall("/res/img/vendor/datatables/sort_desc.png")
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/res/img/vendor/datatables/sort_asc_disabled.png")
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/res/img/vendor/datatables/sort_desc_disabled.png")
}

table.dataTable, table.dataTable th, table.dataTable td {
  box-sizing: border-box;
}

table.dataTable {
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}

thead tr:first-child th {
  border-top: 1px solid #949da8;
}

.dataTable td:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.dataTable tr:not(:last-child) td {
  border-bottom: 1px solid #dee2e6;
}

.dataTable tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.dataTable th {
  text-transform: uppercase;
  font-size: 13px;
  background: #f6f6f6;
  vertical-align: bottom;
}

.dataTable tbody td:last-child {
  vertical-align: top;
}

.dataTables_filter .dt-icon {
  font-size: 20px;
  margin-right: 7px;
  vertical-align: text-top;
}

table.dataTable>tbody>tr.child ul.dtr-details {
  display: block;
  width: 100%;
}

.dtr-title {
  margin-top: 5px;
  margin-bottom: 20px;
}

.dtr-data {
  font-size: 15px;
}
body table.dataTable>tbody>tr.child,
body table.dataTable>tbody>tr.child:hover {
  background: #f9f9f9 !important;
}

.dataTables_wrapper .dataTables_processing {
  top: 10px;
  bottom: 0;
  height: auto;
  z-index: 1;
  padding: 20px;
  background: rgba(255,255,255,0.6);
}

.dataTables_wrapper .loaderWrapper {
  height: 100%;
  align-items: center;
}

.dataTables_wrapper .loader {
  border-width: 4px;
  width: 30px;
  height: 30px;
}

@media (max-width: 1023px) {
  .dataTable td.filename:hover a {
    left: 35px;
    min-width: calc(100% - 25px);
  }
  table.dataTable>tbody>tr.child span.dtr-title {
    min-width: 150px;
  }
}

