.moreButtonsRepos{
  justify-content: flex-end;
}

.dateCell{
  min-width: 90px;
}

.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns-container .btn:not(:first-child) {
  margin-left: 10px;
}