/* 
 * Styles for the rules page.
 */

#file {
  display: none;
}

.uploadButtonWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 21.440px;
}

.uploadButton {
  width: fit-content;
  margin: 0;
  margin-right: 10px;
}

.rules-buttons {
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.rules-buttons .btn {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .rules-buttons .btn {
    width: 100%;
    margin-left: 0;
    justify-content: center;
  }
}