{% extends 'base.html' %}
{% block content %}

<!-- Repo info top bar -->
<div class="repo-info grey-color">
  <a href="/">
    <span class="icon icon-keyboard_arrow_left"></span>
    <span class="link-text">Go back to all repos</span>
  </a>
  <a href="{{url}}" class="repo-link" target="_blank" title="{{url}}">
    <span class="icon icon-github"></span>
    <span class="link-text">{{url}}</span>
  </a>
</div>

<!--discoveries list with search bar-->
<div class="topicHeaderWrapper">
  <h1 class="topicH1"><span class="icon icon-error_outline"></span><span>Discoveries</span></h1>
  <span class="moreButtons moreButtonsDiscoveries">
    <button id="newScan" class="btn outline-bg">
      <span class="icon icon-refresh"></span>
      <span>Rescan</span>
    </button>
    <button id="deleteRepo" class="btn danger-bg">
      <span class="icon icon-delete_outline"></span>
      <span>Delete Repo</span>
    </button>
  </span>
</div>


<div class="topicHeaderWrapper underTopicHeaderWrapper">
  <h3 class="scanDescription"><span id="discoveriesCounter"></span> discoveries found</h3>
</div>

<table id="detail-table" class="dataTable" style="width: 100%">
  <!-- Header -->
  <thead>
    <tr>
      <th></th>
      <th class="dt-center nowrap">Category</th>
      <th>Snippet</th>
      <th class="dt-center nowrap">State</th>
      <th class="dt-center nowrap">Tot</th>
      <th class="none">Occurrences</th>
      <th class="dt-center">Actions</th>
    </tr>
  </thead>
  <!-- Content (filled with discoveries info) -->
  <tbody></tbody>
</table>

<p id="noEntries">Select Categories</p>
<span id="loadMoreButtonWrapper"><button id="loadMoreButton">▼</button></span>

<!-- Delete repo popup -->
<div id="deleteRepoModal" class="modal">
  <div class="modal-content">
    <div class="topicHeaderWrapperAccept">
      <h1 class="topicH1">Delete {{url}} Repo?</h1>
    </div>
    <span class="buttonsAccept">
      <form action="/delete_repo" method="post">
        <input name="repo_url" type="hidden" value="{{url}}">
        <button type="submit">Delete Repo</button>
      </form>
      <button id="cancelDeleteRepo" class="buttonWarn">Cancel</button>
    </span>
  </div>
</div>
<!-- Scan repo popup -->
<div id="addRepoModal" class="modal">
  <div class="modal-content">
    <div class="topicHeaderWrapper">
      <h1 class="topicH1">Rescanning the <a href="{{url}}" title="{{url}}">repo</a></h1><br>
      <span id="cancelAddRepo" class="close">&times;</span>
    </div>
    <form name="scan_repo" action="/scan_repo" method="post">
      <input id="repoLinkInput" type="link" name="repolink" class="textInput" placeholder="GitHub Repo URL"
        style='display:none;'>
      <p class="formLabel">Select category :</p>
      <select id="ruleSelector" name="rule_to_use" class="formSelect" size="4">
        {% for cat in categories %}
        <option value="{{cat}}">{{cat}}</option>
        {% endfor %}
      </select>
      <input type="checkbox" id="cbAllRules" name="rule_to_use" value="all">Select all rules<br>
      <input type="checkbox" id="cbPathModel" name="pathModel" value="path">Use the Path model<br>
      <input type="checkbox" id="cbSnippetModel" name="snippetModel" value="snippet">Use the Snippet model<br>
      <input type="checkbox" id="cbForce" name="forceScan" value="force" title="Scan the repo again completely from scratch"
        >Force scan<br>
      <div class="formFooter">
        <span class="moreButtons">
          <input type="hidden" name="freshtoggle" value="on">
        </span>
        <button id="startRepoScan" type="submit">Start Scan</button>
      </div>
    </form>
  </div>
</div>

<div id="repo-url" class="hidden">{{url}}</div>
<div id="file-name" class="hidden">{{file if file else ''}}</div>

<script>
  window.name = "{{url}}";
</script>
<script src="/res/js/vendor/jquery-3.5.1.min.js"></script>
<script src="/res/js/vendor/jquery.dataTables.min.js"></script>
<script src="/res/js/utils.js"></script>
<script src="/res/js/scanForm.js"></script>
<script src="/res/js/discoveries.js"></script>
<script src="/res/js/scan.js"></script>
{% endblock %}