<!-- Delete repo popup -->
<div id="deleteRepoModal" class="modal">
  <div class="modal-content">
    <div class="topicHeaderWrapperAccept">
      <h1 class="topicH1">Delete {{url}} Repo?</h1>
    </div>
    <span class="buttonsAccept">
      <form action="/delete_repo" method="post">
        <input name="repo_url" type="hidden" value="{{url}}">
        <button type="submit">Delete Repo</button>
      </form>
      <button id="cancelDeleteRepo" class="buttonWarn modal-closer">Cancel</button>
    </span>
  </div>
</div>